# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [20]:
import pandas as pd
import numpy as np

With these commands we import the libraries that we will need for this exercise.

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [21]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

With the first two commands we can obtain the data from the databases located in the links provided by the exercise and the following two commands show us the data obtained with the previous commands.

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [22]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

with this command we set a value in a range to the index labels that in this case is from mpg to car and then we show the database with the other command that can be observed in this part.

### Step 5. What is the number of observations in each dataset?

In [23]:
print(cars1.shape)
print(cars1.shape)

(198, 9)
(198, 9)

With these commands we show the numbers of rows and columns of each database (cars1 and cars2).

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [24]:
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

with this command we add the rows in cars1 at the end of cars2 but for this the columns must be identical and in this case that condition is met. Then we assigned it to the variable called cars and we loomed by putting the name of that variable on the command line.

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [25]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([45179, 68152, 28182, 49944, 46048, 32991, 47690, 53949, 54077,
       41480, 64700, 45965, 68886, 24605, 58756, 24770, 34356, 48241,
       48909, 72267, 62166, 31969, 29454, 41551, 47709, 17277, 20427,
       53480, 21297, 32984, 26247, 68615, 50443, 51292, 16961, 53881,
       60858, 70640, 62565, 40466, 30235, 62876, 72266, 41534, 64329,
       16811, 48841, 57624, 31908, 29735, 17094, 70684, 41351, 32070,
       22833, 34971, 64658, 50652, 22020, 70553, 67920, 18932, 60860,
       51726, 57063, 15086, 16583, 23905, 45900, 72638, 33471, 38840,
       27980, 55407, 65703, 26025, 28571, 70628, 46710, 17228, 45314,
       65760, 69215, 63169, 36817, 67752, 19572, 63061, 47434, 52279,
       39140, 52338, 66455, 31719, 41678, 70418, 28660, 21769, 70743,
       67794, 50193, 28557, 39470, 45497, 69003, 36236, 68045, 46458,
       49145, 19981, 30115, 29132, 19000, 66013, 50388, 32036, 22674,
       70587, 22950, 46993, 56665, 20057, 71275, 43585, 16274, 33317,
       66128, 69133, 71820, 39196, 50371, 57346, 43265, 60208, 70733,
       68287, 48225, 70643, 36296, 17846, 44138, 17628, 32065, 24724,
       56846, 36167, 20682, 67610, 50304, 26100, 57808, 37360, 41035,
       39348, 32486, 46187, 34085, 41385, 40674, 39997, 59698, 41321,
       22005, 33556, 44136, 29956, 23114, 49840, 50058, 31674, 23507,
       27513, 23238, 51694, 42685, 16017, 17675, 39835, 25121, 36870,
       29433, 24670, 21735, 37137, 58614, 16006, 35847, 65378, 53928,
       49275, 61170, 16666, 23647, 64145, 21340, 71945, 33160, 33842,
       44710, 23216, 67021, 61481, 26234, 53115, 35326, 71076, 35816,
       31182, 16694, 16659, 63772, 26266, 32097, 44100, 47510, 52190,
       53387, 65194, 65925, 38668, 20094, 49479, 65047, 37435, 63698,
       35971, 42772, 29976, 20558, 44946, 64056, 52504, 29635, 40547,
       29268, 17060, 36857, 18977, 55799, 66530, 28687, 63530, 36377,
       29857, 22850, 51369, 51783, 52325, 19905, 72087, 15309, 42015,
       26000, 64737, 67562, 49461, 40314, 69515, 32074, 28592, 62581,
       65585, 70310, 36717, 18337, 21958, 47508, 26969, 18310, 36977,
       63173, 19548, 30759, 72180, 64313, 21463, 37970, 72507, 71650,
       27169, 58101, 20631, 53082, 64675, 71006, 17687, 19951, 26650,
       19729, 64929, 56268, 49994, 25713, 67186, 70484, 30267, 48800,
       58040, 23292, 50181, 35867, 55016, 25243, 28306, 25055, 47413,
       30665, 62844, 15521, 56955, 61170, 24931, 43160, 42608, 37269,
       26949, 26570, 30920, 21393, 34648, 23974, 46982, 60245, 49618,
       54418, 15148, 18459, 15293, 37940, 49455, 39230, 68505, 57036,
       19011, 68732, 70061, 16727, 34990, 64731, 18563, 41627, 42134,
       23022, 31169, 69347, 67777, 26909, 56376, 26776, 22628, 20058,
       42686, 19056, 38812, 65904, 57510, 31195, 38970, 49748, 27473,
       21050, 61353, 21694, 65886, 65300, 35251, 69686, 26249, 40276,
       40922, 41500, 31558, 21739, 38773, 48336, 50289, 18707, 52840,
       59118, 17198, 34777, 45782, 36753, 62175, 26104, 72518, 66679,
       58682, 41590, 38995, 54581, 68286, 45964, 58996, 63067, 41615,
       48704, 72452])



With this command we can create random data within a range specified above and we also specify the amount of data that will be created and the type we want to create that by default are int and then assign them to the nr_owners variable and put the name of this same variable on the command line to show the result

### Step 8. Add the column owners to cars

In [26]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,58996
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,63067
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,41615
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,48704
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,72452

With the first command that can be observed, we create a new column called owners in our table in which we will assign all the values obtained with the command seen previously in step 7 and then we will show the last 5 rows of our dataframe.